.App {
    min-height: 100vh !important;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.cont {
    padding: 24px;
}

.messages {
    max-height: 75vh !important;
    overflow: scroll !important;
    max-width: 98vw !important;
}

@media only screen and (max-height: 1100px) {
    .messages {
        max-height: 73vh !important;
    }
}

@media only screen and (max-height: 1000px) {
    .messages {
        max-height: 71vh !important;
    }
}

@media only screen and (max-height: 930px) {
    .messages {
        max-height: 69vh !important;
    }
}

@media only screen and (max-height: 820px) {
    .messages {
        max-height: 64vh !important;
    }
}

@media only screen and (max-height: 750px) {
    .messages {
        max-height: 62vh !important;
    }
}

@media only screen and (max-height: 700px) {
    .messages {
        max-height: 60vh !important;
    }
}

@media only screen and (max-height: 650px) {
    .messages {
        max-height: 55vh !important;
    }
}

.css-83ijpv-MuiTypography-root {
    color: rgb(255, 255, 255) !important;
}

.message {
    width: 39vw !important;
    overflow-wrap: break-word;
}

.form {
    text-align: center;
    margin-top: 2vh !important;
}

.inp {
    min-width: 75vw !important;
    border-color: white !important;
}

.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
    color: white !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: grey !important;
}

.send {
    width: 7vw !important;
    line-height: 3.2 !important;
    margin-left: 5px !important;
}

.sent {
    color: white;
    margin-right: 0 !important;
    margin-left: auto;
    flex-direction: row-reverse;
    width: min-content !important;
    gap: 2vw;
    text-align: right !important;
    min-width: auto;
    max-width: 39vw !important;
}

.sentD {
    margin-right: 100px !important;
    margin-left: 0px !important;
    width: 30vw !important;
}

.MuiListItemText-primary {
    font-weight: bolder !important;
    min-width: max-content !important;
}

.signInAll {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
}

.signOut {
    margin: 25px 0 25px 0 !important;
}

.signLogo {
    height: 200px;
    padding-bottom: 50px;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s, color .3s;
    padding: 40px 100px 40px 150px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    color: #757575;
    font-size: 35px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-size: 50px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50px 40px;
}

.login-with-google-btn:hover {
    background-color: rgb(168, 168, 168);
    cursor: pointer;
    color: white;
}

.login-with-google-btn:active {
    background-color: #eeeeee;
}

.login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25), 0 0 0 3px #c8dafc;
}

.photoDisp {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.css-2s90m6-MuiAvatar-root {
    background-color: #28958f !important;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoP {
    height: 95px;
    text-align: right;
}